--
-- Configures all the secret credentials
--
local module = {}

module.WIFISSID = "the wifi ssid"
module.WIFIPASS = "the wifi password"
module.MQTTHOST = "the mqtt broker host"
module.MQTTPORT = 0815
module.MQTTUSER = "the mqtt broker user"
module.MQTTPASS = "the mqtt broker password"

return module
